<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="logo">
      <img src="https://scontent-sea1-1.cdninstagram.com/t51.2885-15/e35/12328134_1702343310038665_532763161_n.jpg?ig_cache_key=MTE5NTcyMzIwNzQzMTA0MjQ1Ng%3D%3D.2">
    </a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    STUFFF SO MUCH STUFFs
  </div>
</div>


</body>
</html>
